<div>Labas naujas projekte</div>

<div class="main-container">

    <div class="image-container">
        <img src="../assets/images/image-header-mobile.jpg" alt="working people">
        <img src="../assets/images/image-header-desktop.jpg" alt="working people" style="display: none;">
    </div>

    <div class="content-container">
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing.</h1>

        <div class="sales-txt">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam explicabo dolores quas voluptas nobis nostrum maxime ab error recusandae suscipit!</div>

        <div class="stats-wraper">
            <div class="stat">
                <div class="count">10K+</div>
                <div>Companies</div>
            </div>
            <div class="stat">
                <div class="count">314</div>
                <div>Templates</div>
            </div>
            <div class="stat">
                <div class="count">12M+</div>
                <div>Queries</div>
            </div>
        </div>
    </div>
</div>